
    <div action="/tabla" class="table-responsive">
        <table  action="/tabla" class="table table-dark">
            <tr style="color: rgb(66, 61, 135);"> 
                <th>Nombre</th>
                <th>Precio</th>
                <th>Url</th>
            </tr>
            
                <tr>
                    <td>{{productos.nombre}}</td>
                    <td>{{productos.precio}}</td>
                    <td>{{productos.url}}</td>
                </tr>
                
        </table>
        <div>
            <button href="./formulario" type="button" class="btn btn-success">Volver</button>
        </div>
    </div>

    <h3 class="alert alert-danger">No se encontraron datos</h3>
>